
    <nav class="navbar bg-success">
        <div class="container d-flex flex-column" style="height:120px; width: 400px;">
          <a class="navbar-brand" href="#">
            <img src="https://cdn.iconscout.com/icon/free/png-256/free-employee-3704498-3085814.png?f=webp" alt="Logo" width="70" height="74" class="d-inline-block align-text-top ">
          </a>
          <span class="fs-1 mt-3"> Employee-Portal</span>
        </div>
        <div>
          <button (click)="logout()" class="fs-4 mt-5">Logout <i class="fa-solid fa-right-from-bracket"></i></button>
        </div>
        
      </nav>
